---
import Layout from '../../layouts/Layout.astro';
// ↓ 正しいライブラリ名 "microcms-js-sdk"
import type { MicroCMSListResponse, MicroCMSListContent } from "microcms-js-sdk";
import type { Work } from "../../types.ts";
import { client } from "../../lib/microcms.js";

export async function getStaticPaths() {
  // ↓ client.getの戻り値に、Workの型を適用
  const { contents: works } = await client.get<MicroCMSListResponse<Work>>({
    endpoint: "works",
  });

  const paths = works.map((work) => ({
    params: { id: work.id },
    props: { work },
  }));

  return paths;
}

// ↓ Astro.propsから受け取るworkにも、Workの型を適用
const { work } = Astro.props as { work: Work & MicroCMSListContent };
---

<Layout title={work.title}>
    <div class="-w-section-container">
        <div class="-w-work-detail">
            <h1 class="-w-work-detail__title">{work.title}</h1>
            <img class="-w-work-detail__image" src={work.image.url + '?w=1200'} alt={work.title} />

            <div class="-w-work-detail__body">
            <div class="-w-work-detail__info">
                <h3>担当範囲</h3>
                <p>{work.role}</p>

                <h3>使用技術</h3>
                <p>{work.skill}</p>

                {work.url && (
                <>
                    <h3>サイトURL</h3>
                    <p><a href={work.url} target="_blank" rel="noopener noreferrer">{work.url}</a></p>
                </>
                )}
            </div>
            <div class="-w-work-detail__description">
                {work.detail && (
                <>
                    <h3>概要</h3>
                    <div set:html={work.detail} />
                </>
                )}

                {work.ingenuity && (
                <>
                    <h3>工夫した点</h3>
                    <div set:html={work.ingenuity} />
                </>
                )}
            </div>
            </div>

            <div class="-w-btn_wrapper">
            <a href="/works/">一覧へ戻る</a>
            </div>
        </div>
    </div>
</Layout>