---
import Layout from '../layouts/Layout.astro';
import type { MicroCMSListResponse } from "../types.ts";
import type { Work } from "../types.ts";
import { client } from "../lib/microcms.js";
import Contact from '../components/Contact.astro';
import Skills from '../components/Skills.astro';
import { Image } from 'astro:assets';
import fvImage from '../assets/images/fv.jpeg';
import profileImage from '../assets/images/profile.png';
import greetingImageL from '../assets/images/greeting-large3.png';
import greetingImageS from '../assets/images/greeting-small2.jpeg';

const { contents: allWorks } = await client.get<MicroCMSListResponse<Work>>({
    endpoint: "works",
    queries: { limit: 20 },
});

const slideWorks = allWorks.slice(0, 10);

const markupWorks = allWorks.filter(work => work.category?.includes('マークアップエンジニア')).slice(0, 6);

const designerWorks = allWorks.filter(work => work.category?.includes('デザイナー')).slice(0, 6);
---

<Layout title="Rikito Takahashi - Portfolio">

    <!-- FV -->
        <section class="-w-fv" id="fv">
            <Image
                src={fvImage}
                alt="サイトのメインビジュアル"
                class="-w-fv__background-image"
                quality="max"
            />
            <div class="-w-fv__content">
                <h1 class="-w-fv__title-en">The trace of Life.</h1>
                <p class="-w-fv__title-ja">歩んできた道、そのすべてを未来に繋げる。</p>
            </div>
        </section>

        <!-- 制作実績 -->
        <section class="-w-works -w-section-container" id="works">
            <div class="-w-wrapper">
                <div class="-w-section-title -w-scroll-animation">
                    <span class="-w-section-title__en">WORKS</span>
                    <h2 class="-w-section-title__ja">制作実績</h2>
                </div>

                <h3 class="-w-works-subheading">Markup Engineer</h3>
                <div class="-w-works-grid" id="works-grid-markup">
                    {markupWorks.map((work) => (
                        <div class="-w-work-card -w-scroll-animation" data-id={work.id}>
                            <div class="-w-work-card__image-wrapper">
                                <img src={work.image.url + '?w=400'} alt={work.title} loading="lazy" />
                            </div>
                            <div class="-w-work-card__content">
                                <h3 class="-w-work-card__title">{work.title}</h3>
                                <p class="-w-work-card__category">{work.skill}</p>
                            </div>
                        </div>
                    ))}
                </div>

                <h3 class="-w-works-subheading">Designer</h3>
                <div class="-w-works-grid" id="works-grid-design">
                    {designerWorks.map((work) => (
                        <div class="-w-work-card -w-scroll-animation" data-id={work.id}>
                            <div class="-w-work-card__image-wrapper">
                                <img src={work.image.url + '?w=400'} alt={work.title} loading="lazy" />
                            </div>
                            <div class="-w-work-card__content">
                                <h3 class="-w-work-card__title">{work.title}</h3>
                                <p class="-w-work-card__category">{work.skill}</p>
                            </div>
                        </div>
                    ))}
                </div>

                <div class="-w-btn_wrapper -w-scroll-animation">
                    <a href="/works/">More</a>
                </div>
            </div>
        </section>

        <!-- ご挨拶 -->
        <section class="-w-greeting -w-section-container -w-section-container__bgColor" id="greeting">
            <div class="-w-wrapper">
                <div class="-w-greeting__grid">
                    <div class="-w-greeting__image-wrapper -w-scroll-animation">
                        <Image
                        src={greetingImageL}
                        alt="挨拶セクションのメイン画像"
                        class="-w-greeting__image-large"
                        width={800}
                        height={600}
                        format="webp"
                        />
                        <Image
                        src={greetingImageS}
                        alt="挨拶セクションのサブ画像"
                        class="-w-greeting__image-small"
                        width={400}
                        height={300}
                        format="webp"
                        />
                    </div>
                    <div class="-w-greeting__text-content -w-scroll-animation-stagger">
                        <h3 style="transition-delay: 0.1s;">Photoshopと出会い<br>WEBの世界に憧れて<br>ここまで来ました</h3>
                        <p style="transition-delay: 0.2s;">WEB制作とは縁遠い人生を送って参りました。出身大学は教育大学。カラオケ店のアルバイト歴が5年。パチンコ店の正社員歴が6年4ヵ月。その中で、Photoshopでの販促物制作という「ものづくり」に携わった3年間が忘れられませんでした。<br>今度は、WEBの世界でものづくりがしたい。<br>改めてそう思い、この業界にやってきました。</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- プロフィール -->
        <section class="-w-profile -w-section-container" id="profile">
            <div class="-w-wrapper">

                <div class="-w-section-title -w-scroll-animation">
                    <span class="-w-section-title__en">PROFILE</span>
                    <h2 class="-w-section-title__ja">私について</h2>
                </div>
                <div class="-w-profile__grid">
                    <div class="-w-profile__image-wrapper -w-scroll-animation">
                        <Image
                            src={profileImage}
                            alt="高橋 力都のプロフィール写真"
                            class="-w-profile__image"
                            width={300}
                            height={300}
                            format="webp"
                        />
                    </div>
                    <div class="-w-profile__text-content -w-scroll-animation-stagger">
                        <h3 style="transition-delay: 0.1s;">高橋 力都</h3>
                        <p style="transition-delay: 0.2s;" class="-w-profile__name-en">Rikito Takahashi</p>
                        <div class="-w-profile__history" style="transition-delay: 0.3s;">
                            <div class="-w-profile__history-item">
                                <p class="-w-profile__history-year">2017-2023</p>
                                <p class="-w-profile__history-detail">全国300店舗のパチンコホールを運営する株式会社マルハンに新卒入社。ホールスタッフとして従事する傍ら、2019年より、店舗の広告販促チームにてPhotoshopを使用した販促物の制作を担当。2020年から2022年の約2年間、チームのリーダーとして販促物制作業務を牽引し、それに伴いPhotoshopの扱いが可能な人材を4名輩出。</p>
                            </div>
                            <div class="-w-profile__history-item">
                                <p class="-w-profile__history-year">2024-現在</p>
                                <p class="-w-profile__history-detail">未経験からWEB業界へ転身。WEB制作会社にて、マークアップエンジニア（アルバイト）としてHTML, CSS, JavaScriptを用いたコーディング業務に従事。自社開発CMSのコンポーネントパーツの修正、及び顧客の修正要望に応じたパーツの仕様変更などを主に担当。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <Skills />

        <Contact />

    <script define:vars={{ allWorks }}>
        window.worksData = allWorks;
    </script>

</Layout>
